/* START - environmental brand design template */
body {
  margin:0px;
  background-image:url(/images/body_bg.jpg);
  background-repeat:repeat-x;
  background-color:#3F2F22;
  font-family:'Helvetica', Arial, Verdana;
}

body header h1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size:31px;
  font-weight:bold;
  color:#F8F4D5;
}

/* Header Navigation */
header nav {
  float:right;
  width:395px;
  font-size:0px;
  margin:0px;
  padding:0px 0px 0px 0px;
}
header nav img
{
  float:left;
  font-size:0px;
  margin:0px;
  padding:0px 0px 0px 0px;
}

header section.logo {
  float:left;
  width:350px;
  font-size:0px;
  margin:0px;
  padding:0px 71px 0px 0px;
}

header section.logo h1
{
  float:right;
  width:3404px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:31px;
  text-align:right;
  font-weight:bold;
  color:#F8F4D5;
  margin:0px;
  padding:32px 0px 0px 0px;
}

header section.logo h4{
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  text-align:right;
  font-weight:bold;
  color:#BB9F89;
  margin:0px;
  padding:55px 0px 30px 0px;
}

/* Menu Tabs 1--------------------------- */ 
#tabs1 {
  float:left;
  background:#FAF6DB;
  font-size:15px;
  line-height:normal;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  padding-top:10px; 
  padding-bottom:5px;
  height:26px;
  margin:0px;
  line-height:normal;
 /*   height:100%;Fix for MSIE peekaboo bug */
}

#tabs1 ul {
  margin:0;
  list-style:none;
  float:left;
  padding:0px;
}

#tabs1 li {
  display:inline;
  margin:0;
  padding:0;
  voice-family:"\"}\"";
  line-height:16px;
  height:25px;
  float:left;
}

#tabs1 a {
  float:left;
  background:url("/images/tableft1.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
}
    
#tabs1 a span {
  float:left;
  display:block;
  background:url("/images/tabright1.gif") no-repeat right top;
  color:#2C1C0F;
  padding:3px 9px 6px 5px; 
  voice-family:"\"}\"";
  padding-top:2px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs1 a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
  color:#FFFFFF;
}
    
#tabs1 a:hover {
  background-position:0% -42px;
  color:#FFFFFF;
}
    
#tabs1 a:hover span {
  background-position:100% -42px;
  color:#FFFFFF;
}

#tabs1 #current a {
  background-position:0% -42px;
  color:#FFFFFF;
}

#tabs1 #current a span {
  background-position:100% -42px;
  color:#FFFFFF;
}

/* Footer */
footer {
  margin:0px;
  padding:0px 0px 0px 0px;
  background-image:url(/images/footer.jpg);
  background-repeat:no-repeat;
  margin:0px;
  padding:0px 0px 50px 0px;
}

footer div {
  font-size:12px;
  text-align:left;
  color:#938A82;
  margin:0px;
  padding:25px 0px 0px 20px;
}

footer div#footer_links a {
  text-decoration:none;
  color:#938A82;
  padding-left:5px;
  padding-right:5px;
}

footer div#footer_links a:hover {
  text-decoration:underline;
  color:#938A82;
}

footer div#footer_links span {
  padding:0px 10px 0px 0px;
}

footer div.design {
  margin:0px;
  padding:0px;
  font-size:0px;
  padding-top:14px;
}

/* Main section with photos */
#dvbannerbgcontainer {
  float:left;
  background-image:url(/images/bg.jpg);
  background-repeat:repeat;
  background-position:top;
  border-bottom:1px solid #D5D4CD;
  border-top:1px solid #D5D4CD;
  margin:0px;
  padding:40px 0;
}

#dvbannerbgcontainer .lftcontainer {
  float:left;
  font-size:0px;
  margin:0px;
}

.lftcontainer .dvbannerleft {
  float:left;
  margin:0px;
  padding-bottom:15px;
}

.dvbannerleft img {
  float:left;
  margin:0px;
  padding:0px 11px 0px 0px;
  font-size:0px;
}

.dvbannerleft p {
  float:left;
  font-size:12px;
  text-align:left;
  color:#424037;
  background-color:#FBF8A8;
  margin:6px 0px 0px 0px;
  padding:6px 0px 5px 8px;
  line-height:1.2em;
}

.dvbannerleft p b {
  font-size:13px;
  font-weight:bold;
}

#dvbannerbgcontainer #dvbanner {
  float:left;
  font-size:0px;
  margin:0px;
}

/* Whole article content with a background */
div#content {
  background-image:url(/images/page_bg.jpg);
  background-repeat:repeat-y;
  background-position:top center;
}

div#content div {
  padding:26px 0px 4px 25px;
}

/* Main section second article - 2 columns*/
#dvleftpanel {
  float:left;
  margin:0px;
}

#dvleftpanel #topimage {
  float:left;
  font-size:17px;
  margin:0px;
  padding:8px 0px 0px 0px;
  height:23px;
  background-color:#A4051B;
  color:#FFFFFF;
  text-align:center;
  font-weight:bold;
  font-family:'Helvetica', Arial, Verdana;
  voice-family:"\"}\"";
  line-height:18px;
}

#dvleftpanel #midcont {
  float:left;
  margin:0px;
  border-bottom:1px solid #F3F3F3;
  border-left:1px solid #F3F3F3;
  border-right:1px solid #F3F3F3;
}

#midcont p {
  float:left;
  font-size:15px;
  text-align:left;
  line-height:18px;
  voice-family:"\"}\"";
  line-height:17px;
  color:#513D2C;
  margin:0px;
  padding:0px;
  padding-right:10px;
  padding-bottom:25px;
}

#midcont p span {
  float:right;
  text-align:right;
  color:#A5051A;
  font-weight:bold;
}

#dvleftpanel #leftfoot {
  float:left;
  background-image:url(/images/left_foot.jpg);
  background-repeat:no-repeat;
  background-position:top;
  margin:12px 0px 0px 0px;
  padding:11px 0px 13px 0px;
  line-height:1.2em;
}

#leftfoot p {
  float:left;
  font-size:12px;
  text-align:left;
  color:#6B5F58;
  margin:0px;
  padding:0px 0px 0px 15px;
}

#leftfoot span {
  float:left;
  font-size:15px;
  text-align:left;
  font-weight:bold;
  color:#6B5F58;
  margin:0px;
  padding:5px 0px 5px 15px;
}

#dvrightpanel { 
  float:left;
  margin:0px 0px 0px 20px;
  padding:0px 0px 4px 3px;
}

#dvrightpanel h1 {
  float:left;
  font-size:20px;
  text-align:left;
  color:#2C1B11;
  margin:0px;
  padding:10px 0px 0px 15px;
}

#dvrightpanel p {
  float:left;
  font-size:13px;
  text-align:left;
  voice-family:"\"}\"";
  line-height:16px;
  color:#513D2C;
  margin:0px;
  padding:10px 0px 10px 15px;
}

#dvrightpanel .line {
  float:left;
  font-size:0px;
  margin:0px;
  padding:0px 0px 0px 15px;
}

#dvrightpanel .learn {
  text-align:left;
  padding:0px 0px 12px 0px;
}

#dvrightpanel .learn span {
  height:20px;
  font-size:10px;
  color:#FFFFFF;
}

#dvrightpanel .learn span a {
  background-image:url(/images/learn.jpg);
  background-repeat:no-repeat;
  background-position:center;
  font-size:10px;
  height:20px;
  color:#FFFFFF;
  padding-right:20px;
  text-decoration:none;
  padding-top:8px;
  padding-bottom:10px;
  padding-left:11px;
  voice-family:"\"}\"";
  line-height:17px;
}

#dvrightpanel .learn span a:hover {
  background-image:url(/images/learn_over.jpg);
  background-repeat:no-repeat;
  color:#FFFFFF;
  text-decoration:none;
}

#dvrightpanel .learn a:hover {
  background-image:url(/images/learn_over.jpg);
  background-repeat:no-repeat;
  height:20px;
  padding-bottom:10px;
  color:#FFFFFF;
}

#dvrightpanel #righttfoot {
  float:left;
  height:59px;
  background-image:url(/images/right_foot.jpg);
  background-repeat:no-repeat;
  background-position:top;
  margin:20px 0px 0px 0px;
  padding:11px 0px 13px 15px;
}
#righttfoot img {
  float:left;
  margin:0px;
  font-size:0px;
  padding:0px 0px 0px px;
}

#righttfoot p {
  float:left;
  font-size:13px;
  text-align:left;
  color:#513D2C;
  margin:0px;
  padding:2px 8px;
}

/* END - environmental brand design template */

/* Drag To Share for images */
.ui-draggable { cursor:move; }
#tip { position:absolute; display:none; height:25px; padding:9px 9px 0px; color:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; background:#000; background:rgba(0,0,0,.5); }
#tip .arrow { width:0; height:0; line-height:0; border-right:8px solid #000; border-right:8px solid rgba(0,0,0,.5); border-top:8px solid transparent; border-bottom:8px solid transparent; position:absolute; left:-8px; top:9px; }

#targets { display:none; list-style-type:none; position:absolute; top:10px; z-index:99999; }
#targets li { float:left; margin-right:20px; display:block; width:60px; height:60px; background:url(/images/drag_to_share/iconSprite.png) no-repeat 0 0; position:relative; }
#targets li#delicious { background-position:0 -60px; }
#targets li#facebook { background-position:0 -120px; }
#targets li span { display:block; position:absolute; bottom:-40px; white-space:pre; color:#fff; }
#targets li a { background-image:none; }

#overlay { background-color:#000; position:absolute; top:0; left:0; width:100%; height:100%; z-index:99997; }
#helper { background-color:#c2c2c2; position:absolute; height:35px; padding:15px 70px 0 20px; color:#fff; font-family:Verdana; font-weight:bold; font-size:18px; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; border:3px solid #7d7d7d; }
#thumb { width:50px; height:50px; position:absolute; right:0; top:0; border-left:3px solid #7d7d7d; }

.share { font-weight:bold; position:absolute; font-size:14px; font-family:Verdana; margin-left:-38px; }

