%article#explanation
  #dvbannerbgcontainer.span-24
    .lftcontainer.span-8.prefix-1
      .dvbannerleft
        %img{ :src => "../images/light.jpg", :alt => "", :title => "" }
        %p.span-6
          %b Bright Ideas
          = "One of our services is our bright ideas and details"
      .dvbannerleft
        %img{ :src => "../images/home_icon.jpg", :alt => "", :title => "" }
        %p.span-6
          %b Project Quote
          = "We provide you with a detailed price quote."
      .dvbannerleft
        %img{ :src => "../images/rpt.jpg", :alt => "", :title => ""}
        %p.span-6
          %b Environment
          = "We care about the environment and our projects."
    .dvbanner.span-8.prefix-1
      %img{ :src => "../images/banner.jpg", :alt => "", :title=>"", :class => "DragToShare" }
      %textarea.AutoResizable{ :id => "user_comment"} 
      .ExclusiveCheckboxes 
        = "Choose Max one:"
        %input{ :type=>"checkbox" }
        %input{ :type=>"checkbox" }
        %input{ :type=>"checkbox" }
      
#content.span-24
  #dvleftpanel.span-7
    #topimage.span-7
      CLIENT TESTIMONIALS 
    #midcont
      %p "Best services ever! I'd be lost without your company. Your company was great to work with and we look forward to dealing with you in the future.
      %p I would recommend your great services to anyone. I appreciate all your help and your passion for the environment."
      %p
        %span - Potential Client Testimonial
    #leftfoot.span-7
      %span Nice little Sidebar
      %p.span-4 This is where you can put some services text fillers.
      %p.span-4 The more you put the better

  #dvrightpanel.span-15
    %h1 Leader in E-Commerce Solutions
    %p.span-14 We are an eco based web and logo design company. Our main focus is working with companies that are green friendly. We specialize in getting businesses onto the Internet quickly and professionally. From custom logo identity, to fully branded web and print, we can take your business to success!
    %p.span-14 This area is where your intro text can go, and this is what your text links will look like.
    .line
      %img{ :src => "../images/h_line.jpg", :alt => "", :width => "535", :height => "1", :title => "" }
    %h1 Our Amazing Team
    %p We specialize in getting businesses onto the Internet quickly and professionally. As a one stop provider you will find it easier than ever to gain the strong web presence every modern business requires; from design to brand development.
    .span-11
    .learn.span-3
      %span
        %a{ :href => "#" } LEARN MORE
    #righttfoot.span-14
      %img{ :src => "../images/home_icon.jpg", :alt => "", :title => "" }
      %p.span-3 We are great to work with on projects.
      %img{ :src => "../images/light.jpg", :alt => "", :title => "" }
      %p.span-3 We have great ideas that will benefit you.
      %img{ :src => "../images/rpt.jpg", :alt => "", :title => "" }
      %p.span-3 We care about the environment a lot.
