#dvbannerbgcontainer.span-24
  .lftcontainer.span-8.prefix-1
    .dvbannerleft
      %img{ :src => "../images/light.jpg", :alt => "", :title => "" }
      %p.span-6
        %b Bright Ideas
        = "One of our services is our bright ideas and details"
    .dvbannerleft
      %img{ :src => "../images/home_icon.jpg", :alt => "", :title => "" }
      %p.span-6
        %b Project Quote
        = "We provide you with a detailed price quote."
    .dvbannerleft
      %img{ :src => "../images/rpt.jpg", :alt => "", :title => ""}
      %p.span-6
        %b Environment
        = "We care about the environment and our projects."
  .dvbanner.span-8.prefix-1
    %img{ :src => "../images/banner.jpg", :alt => "", :title=>""}
